{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<div class="container">

{% if cartdata | length > 0 %}

    <h1>Votre Panier !</h1>

    <table class="table">
        <thead>
            <tr>
                <td>Article</td>
                <td>Prix</td>
                <td>Quantité</td>
                <td>Total</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

        {% for item in cartdata %}
            
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.price }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.quantity * item.product.price }}</td>
                <td>
                <a href="{{ path('cart_remove', {'id': item.product.id }) }}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
                </td>
            </tr>

        {% endfor %}

        </tbody>
        <tfoot>
			<tr>
				<td colspan="3" class="text-right">Total :
				</td>
				<td>{{ total }} €</td>
				<td></td>
			</tr>
		</tfoot>
    </table>

    {% else %}
    <h3><em>Votre panier est vide ..</em></h3>
    {% endif %}


</div>
{% endblock %}
