{% extends 'base.html.twig' %}

{% block title %}Devenir Vendeur
{% endblock %}

{% block body %}
<div class="container">

    <a href="{{ path('my_account', {'id': app.user.id }) }}" class="btn btn-info m-2 float-right">Retour au compte</a>
    
    <h1>Devenir Vendeur - Mettre a jour mon compte :</h1>

    <div class="p-2 mb-5 bg-light w-50 border">
        {{ form_start(formSeller) }}
        {{ form_widget(formSeller) }}        
            <button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Devenir vendeur !</button>
        {{ form_end(formSeller) }}
    </div>

</div>
{% endblock %}