{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
<div class="container">

    
    <a href="{{ path('my_account', {'id': user.id }) }}" class="btn btn-outline-secondary m-2">Retour au compte</a>
    

    <h1>Modifier mes informations :
    </h1>

    {% if is_granted("ROLE_SELLER") %}
        <h3>Informations de votre compte
            <span class="text-info">Vendeur :</span>
        </h3>    
    {% endif %}

    <div class="p-2 mb-5 bg-light w-50 border">
        {{ form_start(accountEdit) }}
        {{ form_widget(accountEdit) }}
        <button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Valider les changements</button>
        {{ form_end(accountEdit) }}
    </div>

</div>



{% endblock %}
