{% extends 'base.html.twig' %}

{% block title %}Mon compte - {{ app.user.name }} {{ app.user.surname }}
{% endblock %}

{% block body %}

{# USER-SELLER INFORMATIONS  ------------------------------------------  #}

    {% if not is_granted("ROLE_ADMIN") %}

        <div class="container">

            {% if is_granted("ROLE_SELLER") %}
                <a href="{{ path('add_product') }}" class="btn btn-info m-2 float-right">Ajouter une annonce</a>
                <a href="{{ path('seller_products', {'id': app.user.id }) }}" class="btn btn-info m-2 float-right">Mes annonces</a>
            {% else %}
                <a href="{{ path('become_seller', {'id': app.user.id }) }}" class="btn btn-warning m-2 float-right">
                    <em>Devenir Vendeur ?</em>
                </a>
            {% endif %}

            <h1>Mon Compte :</h1>

            {% if is_granted("ROLE_SELLER") %}
                <h3>Bienvenue dans votre compte
                    <span class="text-info">Vendeur :</span>
                </h3>
                <p>
                    <em>Vous pouvez tout de même acheter des articles avec ce même compte...</em>
                </p>        
            {% endif %}

            <div class="p-2 mb-5 bg-light mes-infos border">
                <h3>
                    <span class="text-muted">nom :
                    </span>
                    {{ user.surname }}</h3>
                <h3>
                    <span class="text-muted">prénom :
                    </span>
                    {{ user.name }}</h3>
                <h3>
                    <span class="text-muted">email :
                    </span>
                    {{ user.email }}</h3>

                {% for role in user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        <h3>
                            <span class="text-muted">compte :
                            </span>
                            Admin</h3>
                    {% elseif role == "ROLE_SELLER" %}
                        <h3>
                            <span class="text-muted">compte :
                            </span>
                            Vendeur</h3>
                    {% else %}
                        <h3>
                            <span class="text-muted">compte :
                            </span>
                            Utilisateur</h3>
                    {% endif %}
                {% endfor %}

                <h3>
                    <span class="text-muted">date de création :
                    </span>
                    {{ user.createdAt | date("m/d/Y") }}
                </h3>
                {% if user.phone != null %}
                <h3>
                    <span class="text-muted">téléphone :
                    </span>
                    {{ user.phone }}
                </h3>
                {% endif %}
                    <a href="{{ path('edit_account', {'id': user.id }) }}" class="btn btn-secondary m-2">Modifier mes infos</a>
            </div>
            
        </div>

    {% endif %}

{# END OF INFORMATIONS  -----------------------------------------------  #}

{# MESSAGES  ----------------------------------------------------------  #}
    <div class="container-fluid message-container">

        <div class="mb-3">
            <button id="btn-recieve" class="btn btn-sm btn-outline-warning">Messages Recus</button>
            <button id="btn-send" class="btn btn-sm btn-outline-info">Messages Envoyés</button>
            <button id="btn-answer" class="btn btn-sm btn-outline-success">Messages Avec Réponse</button>
        </div>

    {# RECIEVED MESSAGE  ----------------------------------------------  #}

            {% if messages %}

                <div class="messages rounded hidden" id="message-recieve">

                    <h1 class="p-1 text-dark">Messages recus :</h1>

                    {% for msg in messages %}
                    {% if msg.toId.id == app.user.id and msg.answer == null %}
                        
                        <div class="rounded border m-2 p-1 bg-light">

                            <div class="m-2 p-1">
                                {# Icones #}
                                <div class="text-warning float-right ft-4">
                                    <i class="icone-message fas fa-exclamation-circle"></i>
                                </div>
                    
                                <h5>
                                    <span class="text-muted ft-1"><em>Reçu de </em></span>
                                    <a href="{{ path('admin_user_edit', {'id': msg.fromId.id }) }}" class="text-dark ft-2">
                                        {{ msg.fromId.name }}
                                    </a>
                                    <span class="text-muted ft-1"><em> le {{ msg.createdAt | date('d/m/Y H:i') }}</em></span>
                                </h5>
                                <h5 class="ml-2">{{ msg.content }}</h5>
                                <p class="text-muted m-0 ft-1"></p>
                                <a href="{{ path('get_product', {'id': msg.product.id }) }}" class="text-muted mt-1 ft-1" style="width:18%;"><em>{{ msg.product.title }}</em></a>
                            </div>

                            {# ANSWER #}
                            <form method="post" class="form-inline m-1">
                                <input type="hidden" name="_message" value="{{ msg.id }}">
                                <textarea class="form-control" name="_content" cols="100" rows="1"></textarea>
                                <button class="btn btn-warning btn-sm ml-3 mt-2" type="submit">Répondre</button>
                            </form>

                        </div>

                    {% endif %}
                    {% endfor %}

                </div>

    {# ANSWER MESSAGE  ----------------------------------------------  #}

                <div class="messages rounded hidden" id="message-answer">

                    <h1 class="p-1 text-dark">Messages archivés :</h1>

                    {% for msg in messages %}
                    {% if msg.toId.id == app.user.id and msg.answer != null %}

                        <div class="rounded border">
                            <div class="m-2 p-1">
                                {# Icones #}
                                <div class="text-success float-right ft-4">
                                    <i class="icone-message fas fa-check"></i>
                                </div>
                                
                                <h5>
                                    <span class="text-muted ft-1"><em>Reçu de </em></span>
                                    <a href="{{ path('admin_user_edit', {'id': msg.fromId.id }) }}" class="text-dark ft-2">
                                        {{ msg.fromId.name }}
                                    </a>
                                    <span class="text-muted ft-1"><em> le {{ msg.createdAt | date('d/m/Y H:i') }}</em></span>
                                </h5>
                                <h5 class="ml-2">{{ msg.content }}</h5>
                                <p class="text-muted m-0 ft-1"></p>
                                <a href="{{ path('get_product', {'id': msg.product.id }) }}" class="text-muted mt-1 ft-1" style="width:18%;"><em>{{ msg.product.title }}</em></a>
                            </div>
                        </div>

                        {# ANSWER #}
                        <div class="m-1 mb-2">
                            <span class="text-white ft-1 mr-1 p-2 bg-success"><em>VOTRE REPONSE :</em></span>
                            {{ msg.answer }}
                        </div>                                

                    {% endif %}
                    {% endfor %}

                </div>

    {# SENDED MESSAGE  ------------------------------------------------  #}
            
                <div class="messages rounded hidden" id="message-send">

                    <h1 class="p-1 text-dark">Messages envoyés :</h1>
                    
                    {% for msg in messages %}
                    {% if msg.fromId.id == app.user.id %}

                        <div class="bg-light rounded border border-info m-2 p-2">
                            <h5>
                                <span class="text-muted ft-2">Envoyé a </span>
                                {{ msg.toId.name }}<span class="text-muted ft-1"> le {{ msg.createdAt | date('d/m/Y H:i') }}</span>
                            </h5>
                            <h5>{{ msg.content }}</h5>
                            <a href="{{ path('get_product', {'id': msg.product.id }) }}" class="text-muted">{{ msg.product.title }}</a>
                        </div>
                        {% if msg.answer %}
                        <div class="bg-light rounded border border-info m-2 p-1 text-right mr-4">
                            {{ msg.answer }}
                        </div>
                        {% endif %}

                    {% endif %}
                    {% endfor %}

                </div>

            {% endif %}

    </>
{# END OF MESSAGES  ---------------------------------------------------  #}

{% endblock %}


{% block javascripts %}
    <script>

        const receiveBtn = document.getElementById('btn-recieve');
        const sendBtn = document.getElementById('btn-send');
        const answerBtn = document.getElementById('btn-answer');
        const receiveMsg = document.getElementById('message-recieve');
        const sendMsg = document.getElementById('message-send');
        const answerMsg = document.getElementById('message-answer');

        receiveBtn.addEventListener('click', () => {
            receiveMsg.classList.toggle('hidden')
            receiveBtn.classList.toggle('active')

            if (!sendMsg.classList.contains('hidden')) {
                sendMsg.classList.toggle('hidden')
                sendBtn.classList.toggle('active')
            }
            if (!answerMsg.classList.contains('hidden')) {
                answerMsg.classList.toggle('hidden')
                answerBtn.classList.toggle('active')
            }
        })

        sendBtn.addEventListener('click', () => {
            sendMsg.classList.toggle('hidden')
            sendBtn.classList.toggle('active')

            if (!receiveMsg.classList.contains('hidden')) {
                receiveMsg.classList.toggle('hidden')
                receiveBtn.classList.toggle('active')
            }
            if (!answerMsg.classList.contains('hidden')) {
                answerMsg.classList.toggle('hidden')
                answerBtn.classList.toggle('active')
            }
        })

        answerBtn.addEventListener('click', () => {
            answerMsg.classList.toggle('hidden')
            answerBtn.classList.toggle('active')

            if (!receiveMsg.classList.contains('hidden')) {
                receiveMsg.classList.toggle('hidden')
                receiveBtn.classList.toggle('active')
            }
            if (!sendMsg.classList.contains('hidden')) {
                sendMsg.classList.toggle('hidden')
                sendBtn.classList.toggle('active')
            }

        })

    </script>
{% endblock %}