{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container">

    <a href="{{ path('add_product') }}" class="btn btn-info m-2 float-right">Ajouter une annonce</a>
    <h1>Voici vos annonces <span class="text-info">{{ user.name }}</span> : </h1>
    

    {% for product in products %}
    <div class="bd mb-5 border">
    
        <h1 class="m-2">{{ product.title }}</h1>
        <button id="more-btn" class="btn btn-success btn-sm ml-2 mb-2 mr-2 ft-3 float-right">
            <i id="more-icon" class="fas fa-angle-double-down pl-1 pr-1"></i>
        </button>
        <div class="flex">
			<a href="{{ path('edit_product', {'id': product.id}) }}" class="btn btn-warning ml-2 mb-2 mr-2">Modifier</a>
			{{ include('products/_delete.html.twig') }}
		</div>

	{# THE PRODUCT #}
	    <div id="more-content" class="produit bg-light p-2 hidden">

            <div class="head flex between">
            
                {# PRODUCT-INFOS #}
                <div class="">
                    <h4 class="ft-2 text-secondary">
                        <span class="ft-1">
                        {{product.category.type.type}}
                        </span>
                         - {{ product.category.name }}
                    </h4>
                    <h3 class="mt-1">{{ product.title }}</h3>
                    <h4 class="mb-3">{{ product.author }}</h4>
                    <h5><span class="text-secondary">Etat : </span>{{ product.state }}</h5>
                    <h5 class="mt-2 text-info ft-2"><span class="text-secondary ft-1">Prix : </span>{{ product.price }} €</h5>
                    <h5 class="mb-2 ft-2"><span class="text-secondary">Quantité : </span>{{ product.quantity }}</h5>
                    <h6 class="mt-2 ft-1"><em><span class="text-secondary">Date de dépot : </span>{{ product.createdAt | date('Y/m/d') }}</em></h6>
                    <p class="text-secondary m-0 mt-2">Description :</p>
                    <h5 class="m-2">{{ product.description }}</h5>
                </div>

                {# IMAGES #}
                <div class="flex warp" style="max-width:50%;">
                    {% for image in product.images %}
                        <div>
                            <img src="{{ asset('/uploads/' ~ image.name) }}" alt="image lié à l'article" width="100px">
                        </div>
                    {% endfor %}
                </div>

            </div>                
            {{product.createdAt | date('Y/m/d')}}

        </div>

	</div>
    {% endfor %}

</div>
{% endblock %}


{% block javascripts %}
<script>
	const btn = document.querySelectorAll("#more-btn");
	const content = document.querySelectorAll("#more-content");
	const icon = document.querySelectorAll("#more-icon");

    for (let i = 0; i < btn.length; i++) {
        
        btn[i].addEventListener("click", () => {
            content[i].classList.toggle("hidden")
            icon[i].classList.toggle("middleTurn")
        });
        
    };
</script>
{% endblock %}
