{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container presentation">

    
    {{ form_start(resetForm.email, {'attr': {'class': 'bg-light p-3 rounded border border-info'}}) }}
       
        <h1 class="mb-3">Mot de passe oublié ?</h1>
        
        {{ form_row(resetForm.email) }}
        {{ form_row(resetForm.send,  {'attr': {'class': 'btn btn-info btn-lg ft-1 mt-3 w-100'}}) }}

    {{ form_end(resetForm) }}    

</div>
{% endblock %}
