{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container presentation">

    <form method="post" class="bg-light p-3 rounded border border-info">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        

        <h1 class="h3 mb-3 font-weight-normal">Connectez-Vous !</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label class="mt-3" for="inputPassword">Mot de Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        
            <div class="checkbox mb-3 mt-2">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-info btn-lg ft-1 mt-4 mb-3" type="submit">
            Se Connecter !
        </button>
        <div>
        <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
        </div>
    </form>

    <div class="pt-2">
        <em>Pas encore inscrit ? </em><a class="text-primary ml-2" href="{{ path('app_register')}}">Créer un compte !</a>
    </div>

    <img src="/images/umberto-cofini-lEOogB2xh1M-unsplash02.png" class="img-accueil" alt="Image d'accueil du site la broquinerie.com, vinyls empilés">
</div>
{% endblock %}
