{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script>
        let myApp = angular.module("passwordInterface", []);
        myApp.controller("PasswordController", function ($scope) {

            let strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{10,})");
            let mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{8,})");

            $scope.passwordStrength = {
                "width": "100%",
                "height": "0.8rem",
                "border-radius": "0.5rem",
                "opacity": "0.5"
            };

            $scope.analyze = function (value) {
                if (strongRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "green";
                } else if (mediumRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "orange";
                } else {
                    $scope.passwordStrength["background-color"] = "red";
                }
            };

        });
    </script>
{% endblock %}

{% block body %}
<div class="container presentation">

    {{ form_start(formNewPass, {'attr': {'class': 'bg-light p-3 rounded border border-info'}}) }}
        
        <h1 class="mb-3">Entrez votre nouveau mot de passe</h1>
        <div ng-app="passwordInterface">
            <div ng-controller="PasswordController">
                <div class="" ng-style="passwordStrength"></div>
                    {{ form_row(formNewPass.plainPassword) }}
            </div>
        </div>
        {{ form_row(formNewPass.send,  {'attr': {'class': 'btn btn-info btn-lg ft-1 mt-3 w-100'}}) }}
    
    {{ form_end(formNewPass) }}

</div>
{% endblock %}
