{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script>
        let myApp = angular.module("passwordInterface", []);
        myApp.controller("PasswordController", function ($scope) {

            let strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{10,})");
            let mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{8,})");

            $scope.passwordStrength = {
                "width": "100%",
                "height": "0.8rem",
                "border-radius": "0.5rem",
                "opacity": "0.5"
            };

            $scope.analyze = function (value) {
                if (strongRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "green";
                } else if (mediumRegex.test(value)) {
                    $scope.passwordStrength["background-color"] = "orange";
                } else {
                    $scope.passwordStrength["background-color"] = "red";
                }
            };

        });
    </script>
{% endblock %}

{% block body %}
<div class="container presentation">

    {{ form_start(registrationForm, {'attr': {'class': 'bg-light p-3 rounded border border-info'}}) }}

        <h1 class="h3 mb-3 font-weight-normal">Inscrivez-Vous !</h1>

        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.surname) }}
        {{ form_row(registrationForm.email) }}

        <div ng-app="passwordInterface">
            <div ng-controller="PasswordController">
                <div class="" ng-style="passwordStrength"></div>
                    {{ form_row(registrationForm.plainPassword) }}
            </div>
        </div>

        <div class="pl-3" style="z-index:10;">
        {{ form_row(registrationForm.agreeTerms, {'label':'Accepter les Conditions'}) }}
        </div>
        <button type="submit" class="btn btn-info btn-lg ft-1 mt-3 mb-5">S'inscrire !</button>

    {{ form_end(registrationForm) }}

    <div class="pt-2">
        <em>Déjà inscrit ?</em>
        <a class="text-primary ml-2" href="{{ path('app_login')}}">se connecter !</a>
    </div>

    <img src="/images/umberto-cofini-lEOogB2xh1M-unsplash02.png" class="img-accueil" alt="Responsive image">

</div>
{% endblock %}



