<footer class="bg-light">
    <div class="footer-links">
        <div>
            <ul>
                <li><a href="">Qui sommes-nous ?</a></li>
                <li><a href="">Fonctionnalitées du site</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div>
        {# <img class="logo-site" src="/images/logo.png" alt=""> #}
        </div>
        <div>
            <ul>
                <li><a href="">Contactez-nous</a></li>
                <li><a href="">Conditions Generales d'Utilisation</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
	<p class="text-center text-green m-0 footer-end">{{ "now"|date("Y") }}
		&copy; All Rights Reserved,
		<em>LaBroquinerie.com</em>
	</p>
</footer>
