<header class="sticky">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="text-brand" href="{{ path('main') }}"><i class="icon-vinyl fas fa-record-vinyl mr-2"></i>La Broquinerie</a>

		{# RESPONSIVE #}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-links" href="{{ path('news') }}">News</a>
				</li>

				{% if is_granted("ROLE_USER") %}
					<li class="nav-item">
						<a class="nav-links" href="{{ path('products') }}">Annonces</a>
					</li>
					<li class="nav-item">
						<a class="nav-links" href="{{ path('categories') }}">Categories</a>
					</li>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}

					{# <p>ADMINISTRATION</p> #}					
					<div class="dropdown">
						<a class="nav-links dropdown-toggle text-warning" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Administration
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<a href="{{ path('admin') }}" class="nav-links text-warning" type="button">Gestion du Site</a>
							<a href="{{ path('admin_users') }}" class="nav-links text-warning" type="button">Utilisateurs</a>
							<a href="{{ path('admin_products') }}" class="nav-links text-warning" type="button">Produits</a>
							<a href="{{ path('admin_categories') }}" class="nav-links text-warning" type="button">Categories</a>
							<a href="{{ path('admin_messages') }}" class="nav-links text-warning" type="button">Messages</a>
						</div>
					</div>
					<a href="{{ path('my_account', {'id': app.user.id}) }}" class="dropdown-item nav-links text-danger" type="button">Messagerie Admin</a>
					<div class="nav-deconnection">
						<a href="{{ path('app_logout') }}" class="dropdown-item nav-links text-dark" type="button">Deconnexion</a>
					<div>
				{% else %}

					{% if is_granted("ROLE_USER") %}

						{# MON COMPTE #}
						<div class="dropdown nav-mon-compte">
							<a class="nav-links dropdown-toggle text-info" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<em>Bienvenue <span class="text-primary">{{ app.user.name }}<span></em>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<a href="{{ path('my_account', {'id': app.user.id}) }}" class="dropdown-item nav-links text-info" type="button">Mon Compte</a>
								{% if is_granted("ROLE_SELLER") %}
								<a href="{{ path('seller_products', {'id': app.user.id}) }}" class="dropdown-item nav-links text-info" type="button">Mes Annonces</a>
								{% endif %}
								<a href="{{ path('app_logout') }}" class="dropdown-item nav-links text-info" type="button">Deconnexion</a>
							</div>
						</div>
						{# PANIER #}
						{# <div class="nav-panier"> #}
							<li class="nav-item">
								<a class="nav-links text-info" href="{{ path('cart') }}">
									{% if app.session.get('cart') %}
									<i class="fas fa-shopping-cart"></i>
									{% else %}
									<i class="fas fa-cart-plus"></i>
								{% endif %}
								</a>
							</li>
						{# </div> #}

					{% else %}
						{# <div class="nav-connexion"> #}
							<li class="nav-item ">
								<a class="nav-links" href="{{ path('app_register') }}">S'Inscrire</a>
							</li>
							<li class="nav-item">
								<a class="nav-links text-info" href="{{ path('app_login') }}">Se Connecter</a>
							</li>
						{# </div> #}
					{% endif %}

				{% endif %}

			</ul>
		</div>
	</nav>
</header>