<div class="product mb-4 flex fd-col m-2">

	{# IMAGE  -------------------------------------------------  #}
	<div class="">

		{# TITLE - FORMAT #}
		<div class="dropdown-divider"></div>
		<div>{{ product.title }}</div>
		<div class="dropdown-divider"></div>

		<h5 class="text-secondary ft-1">
			<span>
				{{ product.category.type.type }}
			</span>
			<em>
				{{ product.category.name }}</em>
		</h5>

		{% for img in product.images | slice(0, 1) %}
			<a href="{{ path('get_product', {'id': product.id}) }}">
				<img src="/uploads/{{ img.name }}" alt="{{ product.title }}" class="img-thumbnail">
			</a>
			<h6 class="text-secondary">
				<em>{{ product.images | length }}
					photos</em>
			</h6>
		{% endfor %}
	</div>

	{# INFOS  -------------------------------------------------  #}
	<div class="produit">
		<h5>{{ product.state }}</h5>
		<h6>{{ product.price }}
			€</h6>

		{# BUTTON #}
		<div class="m-3 row j-center">
			<a href="{{ path('get_product', {'id': product.id}) }}" class="btn btn-secondary btn-sm w-25 mr-1">Voir +</a>
			{% if not is_granted("ROLE_ADMIN") %}
				<a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-outline-info btn-sm">Ajouter au panier</a>
			{% endif %}
		</div>

	</div>

</div>
