<div class="mx-auto">
	<form method="post" class="" action="{{ path('search_products') }}">
		<div class="input-group is-invalid"> 
			<div class="custom-file">
				<input type="search" class="form-control mr-sm-2" name="_query" placeholder="Votre recherche">
			</div>
			<div class="input-group-append">
				<button class="btn btn-secondary" type="submit">Rechercher</button>
			</div>
		</div>
	</form>
</div>
