{% extends 'base.html.twig' %}

{% block title %}La Broquinerie
{% endblock %}

{% block body %}
	

	{% if not app.user %}
		<div class="presentation off-line">
			<em>
				<h1 class="ft-4">Bienvenue sur
					<span class="text-brand">LaBroquinerie.com</span>
				</h1>
			</em>
			<h3 class="display-2 sketch">Venez chiner !</h3>
			<h3 class="but-presentation">Ce site a pour but de permettre aux utilisateurs de vendre, partager, des CD, DVD, Vinyls, Romans, BD, livres en tout genres.</h3>
			<h4 class="p-3 text-presentation">
				<em>" Les pépites, musicales, littéraires, ou vidéos vous attendent sûrement ! "</em>
			</h4>
			<h2>N'hesitez plus rejoignez la communauté !</h2>
			<div class="accueil-btn">
				<a href="{{ path('app_login') }}" class="btn btn-info btn-lg button-accueil">Connexion</a>
				<a href="{{ path('app_register') }}" class="btn btn-outline-info btn-lg button-accueil">Inscription</a>
			</div>
			<h1>Connectez-vous, ou créez votre compte !</h1>			
		</div>
		<img src="/images/umberto-cofini-lEOogB2xh1M-unsplash02.png" class="img-accueil" alt="Responsive image">
	{% else %}
		<div class="in-line">
			<h3 class="presentation">Bienvenue {{ app.user.surname }} {{ app.user.name }}</h3>


			<section class="last-products text-center">

				<h2>Voici les derniers ajouts sur le site ! </h2>

				<div class="products j-center">	
				{% for product in products %}
				{{ include('partials/productModel.html.twig') }}
				{% endfor %}

				</div>

			</section>

			
		</div>
	{% endif %}


{% endblock %}
