.text-brand:hover > .icon-vinyl {
    transform-origin: left;
    animation: turn 1s ease-out;
}

@keyframes turn {
    0% { transform: rotateX(0deg)}
    60% { transform: rotateX(960deg)}
    70% { transform: rotateX(990deg)}
    80% { transform: rotateX(1030deg)}
    100% { transform: rotateX(1080deg)}
}

.middleTurn {
    transform: rotate(180deg);
    transition: 0.2s;
}

.quarterTurn {
    transform: rotate(45deg);
    transition: 0.2s
}