@media (max-width:980px) {

    .flex {
        flex-direction: column;
    }
    .page {
        width: 98%;
    }

    /* PRESENTATION */

    .presentation {
        margin: 1rem;
    }
    .off-line {
        width: 100%;
        text-align: center;
    }
    .presentation form {
        width: 90%;
    }
    .but-presentation {
        width: 95%;
    }
    .text-presentation {
        width: 95%;
    }
    .sketch {
        font-size: 4rem;
    }

    .img-accueil {
        display: none;
    }

    /* MESSAGES */
    
    .messages {
        width: 100%;
    }

    .mes-infos {
        width: 75%;
    }

    /* NEWS */

    .index-news {
        flex-direction: column;
        width: 90%;
    }

    .show-content {
        padding: 1rem;
        width: 100%;
        margin: 0.5rem;
    }
    
    /* MESSAGES */

    .message-container {
        width: 80%;
    }

}


@media (max-width:520px) {

    h1, h2, h3 {
        font-size: 150%;
    }

    .sketch {
        font-size: 4rem;
    }

    .presentation {
        margin: 0.5rem;
    }
    .presentation form {
        width: 100%;
        margin: 0;
    }

    .accueil-btn {
        flex-direction: column;
    }
    .button-accueil {
        margin: 0.5rem;
    }
    
    .footer-links ul {
        margin: 0;
        padding: 0;
    }

    /* HEADER  */

    .text-brand {
        font-size: 1.5rem;
    }

    /* CATEGORIES */

    .categories table {
        width: 90%;
    }

    /* PRODUIT */

    .search-group {
        flex-direction: column;
    }
    .search-group .form-group {
        text-align: left;
        margin-bottom: 0.2rem;  
        color: #29ABE0;      
    }
    .search-group .form-group label{
        margin: 0;        
    }
    .input-search {
        width: 100%;
    }

    /* COMPTE */

    .mes-infos {
        width: 100%;
    }

    /* MESSAGES */

    .message-container {
        width: 100%;
    }
}