header {
    z-index: 100;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.329);
}

.footer-end {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.flash-messages {
    margin-top: 6rem;
    z-index: 999;
}


/**********/

/* HEADER */

/**********/

.text-brand {
    font-family: 'Pattaya';
    font-size: 2rem;
    padding-right: 1rem;
    color: #93C54B;
}

.text-brand:hover {
    text-decoration: none;
}

.nav-links {
    padding: 0 0.5rem;
    display: block;
    padding: 0.5rem 0.9rem;
    font-size: 0.8rem;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(62, 63, 58, 0.685);
}

.nav-links:hover {
    color: #000;
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
    min-width: 15rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.200);
}

/************/

/* MESSAGES */

/************/

.page {
    /* margin: 8rem auto; */
    margin-bottom: 15rem;
    padding: 3rem 0 8rem 0;
    background: #fff;
    z-index: 10;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.150);
}

.message-container {
    width: 60%;
}

.img-thumbnail {
    width: 8rem;
    height: 8rem;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.text-green {
    color: #6b9430;
}

.btn-info-tr {
    border: 0.1rem solid #29ABE0;
    background: transparent;
    color: #1d95c6;
}

.btn-info-tr:hover {
    border: 0.1rem solid #1d95c6;
    background: #29ABE0;
    color: #fff;
}

/***********/

/* ACCUEIL */

/***********/

.presentation {
    margin-left: 10rem;
    position: relative;
}

.off-line {
    width: 70%;
}

.but-presentation {
    width: 75%;
}

.text-presentation {
    width: 50%;
}

.presentation form {
    width: 40%;
}

.accueil-btn {
    margin: 2rem auto;
}

.button-accueil {
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
}

.sketch {
    font-family: 'Londrina Sketch', cursive;
}

.img-accueil {
    position: fixed;
    top: 0;
    right: -10rem;
    height: 100%;
    width: auto;
    filter: opacity(0.8);
    /* z-index: -1; */
}

.main-btn a {
    font-size: 1rem;
    padding: 1rem 2rem;
}

/***********/

/* FOOTER  */

/***********/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -100;
    background-color: #262626;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
}

footer ul {
    margin: 0 2.5rem;
    padding: 2rem 0;
    list-style: none;
}

footer li {
    padding: 0.2rem;
}

footer .logo-site {
    width: 10rem;
    height: 10rem;
    margin: 0 5rem;
    padding-top: 1rem;
}

.footer-links {
    display: flex;
    text-align: center;
}

.hidden {
    display: none;
}

/********/

/* NEWS */

/********/

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-news {
    margin: 1.5rem 5rem;
    flex-direction: row;
    max-width: 50rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.250);
}

.img-news img {
    height: 10rem;
    width: auto;
    margin: 0.5rem;
}

.news form {
    width: 80%;
}

.content, .show-content {
    width: 70%;
    margin: 0 3rem;
    padding: 0.5rem 2rem;
}

/************/

/* GENERAL  */

/************/

.btn-green {
    background: #93C54B;
    color: #fff;
}

.btn-outline-green {
    border: 1px solid #93C54B;
    color: #93C54B;
}

.btn-green:hover {
    background: #6b9430;
    color: #fff;
}

.btn-outline-green:hover {
    border: 1px solid #6b9430;
    background: #6b9430;
    color: #fff;
}

/***************/

/* CATEGORIES  */

/***************/

.categories table {
    width: 25%;
}

/*********************/

/* CLASSES GENERALES */

/*********************/

.sc-1 {
    transform: scale(1.5);
}

.ff-pataya {
    font-family: 'Pattaya';
}

.ft-1 {
    font-size: 0.8rem;
}

.ft-2 {
    font-size: 1rem;
}

.ft-3 {
    font-size: 1.2rem;
}

.ft-4 {
    font-size: 1.8rem;
}

.ft-5 {
    font-size: 2.1rem;
}

.btn-perso {
    color: #93C54B;
}

.btn-perso:hover {
    color: #6b9430;
}

.text-shadow {
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.808);
}

.box-shadow {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.808);
}

.bd {
    border: 1px solid #000;
}

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.warp {
    flex-wrap: wrap;
}

.fd-col {
    flex-direction: column;
}

.end {
    justify-items: end;
}

.start {
    justify-items: start;
}

.between {
    justify-content: space-between;
}

/************/F

/* ANNONCES */

/************/

.search-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search {
    width: 10rem;
}

.images-produit {
    flex-wrap: wrap;
}

.btn-recherche {
    padding: 0.2rem 0.5rem;
    height: 2rem;
}

#plus {
    font-size: 2rem;
}


/**************/
/* MON COMPTE */
/**************/

.mes-infos {
    width: 50%;
}