<form 
method="post" 
action="{{ path('remove_product', {'id': product.id}) }}" 
onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce produit ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-outline-danger mb-2">Supprimer l'annonce ?</button>
</form>
