{{ form_start(formProduct, {'attr': {'class':'bg-light p-3 rounded border border-info'}}) }}
{{ form_errors(formProduct) }}
<div class="form-row">
	<div class="form-group col-md-12">
		{{ form_row(formProduct.category) }}
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-4">
		{{ form_row(formProduct.title) }}
	</div>
	<div class="form-group col-md-4">
		{{ form_row(formProduct.author) }}
	</div>
	<div class="form-group col-md-4">
		{{ form_row(formProduct.state) }}
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-8">
		{{ form_row(formProduct.description) }}
	</div>
	<div class="form-group col-md-2">
		{{ form_row(formProduct.price) }}
	</div>
	<div class="form-group col-md-2">
		{{ form_row(formProduct.quantity) }}
	</div>
</div>
<p>Sélectionnez 5 images maximum, pour mettre en vente votre article :</p>
{{ form_row(formProduct.image) }}

{# Si on est en mode edition => Afficher les images #}
{% if app.request.attributes.get('_route') == 'edit_product' %}
	<h3>Images</h3>
	<p class="text-muted">Toute suppression d'image est définitive !</p>
	<div class="flex">
		{% for image in product.images %}
			<div class="images-produit">
				<img src="{{ asset('/uploads/' ~ image.name) }}" alt="image lié à l'article" width="200px">
				<a href="{{ path('remove_image', {id: image.id }) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="ft-3 btn btn-danger mr-3">&times;</a>
			</div>
		{% endfor %}
	</div>
{% endif %}

{{ form_rest(formProduct) }}

<input type="hidden" name="_token" value="{{ csrf_token('create-product' ~ app.user.id) }}">

{% if editMode %}
	<button type="submit" class="btn btn-warning btn-lg mt-3 mb-5">Modifier</button>
{% else %}
	<button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Valider</button>
{% endif %}

{{ form_end(formProduct) }}
