{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
<div class="container">

    {# MODE EDITION #}
    {% if editMode %}
        <div class="m-1  float-right">
            {{ include('products/_delete.html.twig') }}
        </div>    
        <a href="{{ path('seller_products', {'id': app.user.id}) }}" class="m-2 btn btn-secondary btn-sm float-right">Retour</a>
        <h1 class="mb-5">Modifier une annonce : </h1>    
        
    {% else %}
    {# MODE CREATION #}
        <a href="{{ path('my_account', {'id': app.user.id}) }}" class="m-2 btn btn-secondary btn-sm float-right">Retour Mon compte</a>
        <h1 class="mb-5">Ajouter une annonce : </h1>    
    {% endif %}

    {# Formulaire d'enregistrement du produit #}
    {{ include('products/_form.html.twig') }}    
    
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}" type="application/javascript"></script>
{% endblock %}
