{% extends 'base.html.twig' %}

{% block title %}LaBroquinerie - Anonces
{% endblock %}

{% block body %}
<div class="container text-center">

{# SEARCH_BAR  ------------------------------------------------  #}

	{% if is_granted("ROLE_USER") %}
		<div class="mb-3">
			<em class="text-muted">Recherche par titres, auteurs et états</em>
		{{ include('partials/search_bar.html.twig') }}
		</div>
	{% endif %}

	{% if query %}
	<h1 class="mt-3">Résultat de recherche pour "<span class="text-muted">{{ query }}</span>" :</h1>
	{% endif %}

{# SEARCH_FORM  -----------------------------------------------  #}

	{% if query == null %}
		<h6 class="border mw-25">Recherche Avancée 
			<span id="btn-plus" class="btn btn-secondary btn-recherche ft-3">
			<span id="plus">+</span>
			</span>
		</h6>
		<div id="content" class="hidden bg-light p-2">
			{{ form_start(searchForm) }}
			<div class="search-group">
				<div class="input-search">
				{{ form_row(searchForm.state) }}
				</div>
				<div class="input-search">
				{{ form_row(searchForm.price) }}
				</div>
				<div class="input-search">
				{{ form_row(searchForm.category) }}
				</div>
			</div>
				<div class="mt-3">
					{{ form_row(searchForm.search) }}
				</div>
			{{ form_end(searchForm) }}
		</div>
	{% endif %}

{# PAGE PRODUCTS  ---------------------------------------------  #}
	
	<h1 class="mt-2">En vente sur le site :</h1>
	<div class="products j-center">	

		{% for product in products %}

			{{ include('partials/productModel.html.twig') }}

		{% else %}

			<h3 class="mt-5"><em>Il n'y a actuellement pas d'articles sur le site correspondant a votre recherche !</em></h3>
		
		{% endfor %}

	</div>
{# END-BODY #}

</div>
{% endblock %}


{% block javascripts %}
<script>
const btn_plus = document.getElementById('btn-plus');
const plus = document.getElementById('plus');
const content = document.getElementById('content');

btn_plus.addEventListener('click', () => {
	content.classList.toggle('hidden')
})
</script>
{% endblock %}

