{% extends 'base.html.twig' %}

{% block title %}LaBroq'Anonces - {{ product.title }}
{% endblock %}

{% block body %}
<div class="container">

{# <pre>
	{{ dump(product) }}
</pre> #}


	<a href="{{ path('products') }}" class="btn btn-secondary btn-sm float-right">Retours aux annonces</a>
	<h1>{{ product.title }}</h1>

	{# THE PRODUCT #}
	<div class="produit bg-light pt-4 pl-4 pr-4 pb-2 rounded">

		<div class="head flex between">
		
			{# PRODUCT-INFOS #}
			<div class="">
				<h4 class="ft-2 text-secondary">
					{{ product.category.name }} - 
					<span class="ft-1">
					{{ product.category.type.type }}
					</span></h4>
				<h3 class="mt-3">{{ product.title }}</h3>
				<h4 class="mb-4"><span class="text-secondary ft-2 mr-1">de </span><em class="ft-3">{{ product.author }}</em></h4>
				<h5><span class="text-secondary">Etat : </span>{{ product.state }}</h5>
				<p class="text-secondary m-0 mt-4">Description :</p>
				<h5 class="mr-4 p-3 bg-white rounded ft-2">{{ product.description }}</h5>
				<h5 class="mt-4 text-info ft-4"><span class="text-secondary ft-2">Prix : </span>{{ product.price }} €</h5>
				<h5 class="mb-3 ft-2"><span class="text-secondary">Quantité : </span>{{ product.quantity }}</h5>
				<h6 class="mt-5 ft-1"><em><span class="text-secondary">Date de dépot : </span>{{ product.createdAt | date('Y/m/d') }}</em></h6>
			</div>

			{# IMAGES #}
			<div class="flex warp" style="max-width:50%;">
				{% for image in product.images %}
					<div>
						<img src="{{ asset('/uploads/' ~ image.name) }}" alt="image lié à l'article" width="200px">
					</div>
				{% endfor %}
			</div>

		</div>

		{# CONTACT #}
		<div class="">
			<h6>Nom du vendeur : {{ seller.name }}</h6>
			<button class="btn btn-outline-info mb-2" id="contact">Contacter le vendeur</button>
			{% if not is_granted("ROLE_ADMIN") %}
				<a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-info mb-2">Ajouter au panier</a>
			{% endif %}
		</div>

	</div>

	<div class="bg-dark mt-2 p-4 text-white rounded hidden" id="message">
		{{ form(msgForm) }}
	</div>
	
</div>
{% endblock %}


{% block javascripts %}
<script>
	const contact = document.getElementById("contact");
	const message = document.getElementById("message");

	contact.addEventListener('click', () => {
		message.classList.toggle("hidden")
	})
</script>
{% endblock %}