{% extends 'base.html.twig' %}

{% block title %}LaBroq' Categories
{% endblock %}

{% block body %}
<div class="container">

	<h1><u>Listing des categories :</u></h1>

	<h3 class="mt-5">Nous accueillons {{ types | length }} types principaux de produits :
	</h3>
	<ul class="mt-3 ml-3 ft-4 text-info">
		{% for type in types %}		
			<li>
				<h4 class="ft-4 text-dark"><span class="ft-3">{{ type.id }}</span> - {{ type.type }}</h4>
			</li>
		{% endfor %}
	</ul>

	<h3 class="mt-5"><u>Voici les categories disponibles pour chaque type : </u></h3>

	<div class="flex row categories">
{# TABLE "LIVRES"  ----------------------------------------------------  #}
		<table class="table m-3 border">
			<thead class="bg-dark text-white text-center">
				<tr>
					<td><strong>{{ types[0].type }}</strong></td>
				</tr>
			</thead>
			{% for category in categories %}
				{% if category.type.id == 1 %}
					<tbody>
						<tr>
							<td>{{ category.name }}</td>
						</tr>
					</tbody>
				{% endif %}
			{% endfor %}
		</table>

{# TABLE "VIDEOS"  ----------------------------------------------------  #}
		<table class="table m-3 border">
			<thead class="bg-dark text-white text-center">
				<tr>
					<td><strong>{{ types[1].type }}</strong></td>
				</tr>
			</thead>
			{% for category in categories %}
				{% if category.type.id == 2 %}
					<tbody>
						<tr>
							<td>{{ category.name }}</td>
						</tr>
					</tbody>
				{% endif %}
			{% endfor %}
		</table>

{# TABLE "MUSIQUES"  --------------------------------------------------  #}
		<table class="table m-3 border">
			<thead class="bg-dark text-white text-center">
				<tr>
					<td><strong>{{ types[2].type }}</strong></td>
				</tr>
			</thead>
			{% for category in categories %}
				{% if category.type.id == 3 %}
					<tbody>
						<tr>
							<td>{{ category.name }}</td>
						</tr>
					</tbody>
				{% endif %}
			{% endfor %}
		</table>
	</div>			

</div>
{% endblock %}
