<a href="{{ path('admin_users') }}" class="btn btn-secondary m-2">Liste des Utilisateurs</a>

<a href="{{ path('admin_products') }}" class="btn btn-secondary m-2">Liste des Produits</a>

<a href="{{ path('admin_categories') }}" class="btn btn-secondary m-2">Liste des Categories</a>

<a href="{{ path('admin_messages') }}" class="btn btn-secondary m-2">Liste des Messages</a>