<form method="post" action="{{ path('admin_remove_user', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-outline-danger mb-2">Supprimer l'utilisateur ?</button>
</form>