{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Categories{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des Categories :</h1>

    {% include "admin/_barmenu.html.twig" %}

    <a href="{{ path('admin') }}" class="btn btn-outline-secondary m-2">Retour</a>

    <table class="table mt-3">

        <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Nom</th>
            <th>Slug</th>
            <th>Action</th>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td class="bg-light">{{ category.id }}</td>
                <td>{{ category.type.type }}</td>
                <td class="bg-light">{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">MODIFIER</a>
                </td>
            </tr>
            {% else %}
            <h2 class="text-center text-info"><em>Aucune categorie présente pour le moment...</em></h2>
            {% endfor %}
        </tbody>

    </table>

</div>
{% endblock %}
