{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Produits{% endblock %}

{% block body %}
<div class="container">

    <a href="{{ path('admin_products') }}" class="btn btn-secondary float-right">Retour aux Produits</a>
    <div class="float-right mr-2 ">
        {{ include('products/_delete.html.twig') }}
    </div>

    <h1>Editer le Produit <span class="text-danger">{{ product.title }}</span> : </h1>

    {{ form_start(formProduct, {'attr': {'class':'bg-light p-3 rounded border border-info'}}) }}

    <div id="voirplusbutton" class="btn btn-success mb-3">Plus d'infos</div>

    <div id="voirpluscontent" class="hidden">

        <div class="form-row">
            <div class="form-group col-md-12">
                {{ form_row(formProduct.category, {'label': 'Categorie'}) }}
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_row(formProduct.title, {'label': 'Titre'}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(formProduct.author, {'label': 'Auteur'}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(formProduct.state) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form_row(formProduct.description) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(formProduct.price) }}
            </div>
            <div class="form-group col-md-2">
                {{ form_row(formProduct.quantity) }}
            </div>
        </div>
    
        {{ form_row(formProduct.image) }}

    </div>    

        {{ form_row(formProduct.active) }}

        {# Afficher les images si Route edit_product #}
        {% if app.request.attributes.get('_route') == 'admin_product_edit' %}
            <h3>Images</h3>
            <div class="flex">
            {% for image in product.images %}
                <div class="">
                    <img src="{{ asset('/uploads/' ~ image.name) }}" alt="image lié à l'article" width="200px">
                    <a href="{{ path('remove_image', {id: image.id }) }}" 
                    data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" class="ft-3 btn btn-danger mr-3">&times;</a>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Valider</button>

    {{ form_end(formProduct) }}

</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/images.js') }}" type="application/javascript"></script>
<script>
    let button = document.getElementById('voirplusbutton');
    let content = document.getElementById('voirpluscontent');

    button.addEventListener('click', () => {
        content.classList.toggle('hidden')
    })
</script>
{% endblock %}