{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Utilisateurs{% endblock %}

{% block body %}
<div class="container">

    <a href="{{ path('admin_users') }}" class="btn btn-secondary float-right">Retour aux Utilisateurs</a>
    <div class="float-right mr-2 ">
        {{ include('admin/_deleteuser.html.twig') }}
    </div>
    <h1>Editer l'utilisateur " <span class="text-info">{{ user.name }} {{ user.surname }}</span> " : </h1>


    {{ form_start(formUserEdit) }}
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form_row(formUserEdit.email) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(formUserEdit.name, {'label': 'Prénom'}) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(formUserEdit.surname, {'label': 'Nom de Famille'}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
        {{ form_row(formUserEdit.roles) }}
        </div>
        <div class="form-group col-md-4">
        {{ form_row(formUserEdit.isBlocked) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(formUserEdit.activationToken) }}
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Valider</button>
    {{ form_end(formUserEdit) }}

</div>
{% endblock %}
