{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Produits{% endblock %}

{% block body %}
<div class="container">

    <h1>Editer la categorie "<span class="text-info">{{ category.name }} - {#{{ category.format }}#}</span>" : </h1>

    <a href="{{ path('admin_categories') }}" class="btn btn-secondary m-2">Retour</a>

    {{ form_start(formCategory) }}
        {{ form_row(formCategory.name) }}
        {{ form_row(formCategory.type) }}
        {{ form_row(formCategory.slug) }}
        <button type="submit" class="btn btn-info btn-lg mt-3 mb-5">Valider</button>
    {{ form_end(formCategory) }}

</div>
{% endblock %}