{% extends 'base.html.twig' %}

{% block title %}Administration du Site{% endblock %}

{% block body %}
<div class="container">

    <h1>Administrateur <span class="text-warning">{{ app.user.name }}<span></h1>
    <h2>Gestion du Site :</h2>

    {% include "admin/_barmenu.html.twig" %} 

</div>
{% endblock %}
