{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Messages{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des Messages :</h1>

    {% include "admin/_barmenu.html.twig" %}

    <a href="{{ path('admin') }}" class="btn btn-outline-secondary m-2">Retour</a>

    <table class="table mt-3">

        <thead>
            <th>ID</th>
            <th>Produit</th>
            <th>Contenu</th>
            <th>Date</th>
            <th>Réponse</th>
            <th>De</th>
            <th>A</th>
        </thead>

        <tbody>       
            {% for message in messages %}
            <tr>
                <td class="bg-light">{{ message.id }}</td>
                <td>{{ message.product.title }}</td>
                <td>{{ message.content }}</td>
                <td class="bg-light">{{ message.createdAt | date('Y/m/d H:m') }}</td>
                <td>
                {% if not message.answer %}
                <h5 class="text-info p-0 m-0">SANS REPONSE</h5>
                {% else %}
                {{ message.answer }}
                {% endif %}
                </td>
                <td>{{ message.fromId.name }}</td>
                <td>{{ message.toId.name }}</td>
            </tr>
            {% else %}
            <h2>Aucun messages pour le moment...</h2>
            {% endfor %}

        </tbody>
        
    </table>

</div>
{% endblock %}
