{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Produits{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des Produits :</h1>
    
    {% include "admin/_barmenu.html.twig" %}

    <a href="{{ path('admin') }}" class="btn btn-outline-secondary m-2">Retour</a>

    <table class="table mt-3">

        <thead>
            <th>ID</th>
            <th>Vendeur</th>
            <th>Type</th>
            <th>Format</th>
            <th>Title</th>
            <th>Auteur/Interprete</th>
            <th>Etat</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Date de création</th>
            <th>Active</th>
            <th>Images</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td class="bg-light">{{ product.id }}</td>
                <td>{{ product.seller.id }}</td>
                <td class="bg-light">{{ product.category.type.type }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.author }}</td>
                <td class="bg-light">{{ product.state }}</td>
                <td>{{ product.description | slice(0,15) }}</td>
                <td class="bg-light">{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.createdAt | date('Y/m/d H:m') }}</td>
                {% if product.active %}
                <td class="bg-success text-white text-center">Visible</td>
                {% else %}
                <td class="bg-danger text-white text-center">Non Visible</td>
                {% endif %}
                <td>{{ product.images | length }}</td>
                <td><a href="{{ path('admin_product_edit', {'id': product.id}) }}">MODIFIER</a></td>
            </tr>
            {% else %}
            <h2>Aucun produit enregitré sur le site pour le moment ..</h2>
            {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}
