{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration Utilisateurs{% endblock %}

{% block body %}
<div class="container">

    <h1>Liste des Utilisateurs :</h1>

    {% include "admin/_barmenu.html.twig" %}

    <a href="{{ path('admin') }}" class="btn btn-outline-secondary m-2">Retour</a>
    <a href="{{ path('app_register') }}" class="btn btn-outline-info m-2">Ajouter un Utilisateur</a>

    <table class="table mt-3">

        <thead>
            <th>ID</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Valid</th>
            <th>Rôles</th>
            <th>Date de création</th>
            <th>RGPD</th>
            <th>Nbre / Produits</th>
            <th>Bloquer</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td class="bg-light">{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.email }}</td>                
                {% if user.activationToken != null %}
                <td class="bg-light text-warning ft-3"><i class="fas fa-user-clock"></i></td>
                {% else %}
                <td class="bg-light text-success ft-3"><i class="fas fa-user-check"></i></td> 
                {% endif %}
                <td>
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPERADMIN' %}
                    SUPER Administrateur
                    {% elseif  role == 'ROLE_ADMIN' %}
                    Administrateur
                    {% elseif  role == 'ROLE_SELLER' %}
                    Vendeur
                    {% elseif  role == 'ROLE_USER' %}  
                    Utilisateur     
                    {% endif %}
                {% endfor %}
                </td>
                <td>{{ user.createdAt | date('Y/m/d H:m') }}</td>
                <td class="bg-light text-center">
                    {% if user.rgpd == true %}
                    OK
                    {% else %}
                    DANGER
                    {% endif %}
                </td>                            
                <td class="text-center">
                    {% if user.products %}
                        {{ user.products | length }}
                    {% endif %}
                </td>
                {% if user.isBlocked %}
                <td class="bg-danger"></td>
                {% else %}
                <td class="bg-success"></td>
                {% endif %}
                <td>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">MODIFIER</a>
                </td>
            </tr>
            {% else %}
            <h2>Aucun utilisateurs inscrit pour le moment...</h2>
            {% endfor %}

        </tbody>
        
    </table>

</div>
{% endblock %}
