{% extends 'base.html.twig' %}

{% block title %}LaBroq'News !
{% endblock %}

{% block body %}
	<div class="container">

		<div class="news">

		<div class="text-center mb-3">
			<a class="btn btn-sm btn-outline-green" href="{{ path('news') }}">Retour</a>
			{% if editNews %}		
			<form method="post" action="{{ path('remove_news', {'id': news.id}) }}" 
			onsubmit="return confirm('Etes-vous sur de vouloir supprimer la news ?');">
				<input type="hidden" name="_method" value="DELETE">
				<button class="btn btn-danger btn-sm mt-2">Supprimer</button>
			</form>
			{% endif %}
		</div>
		
			<h1 class="text-center">{{ news.title }}</h1>
			
			{{ form_start(formNews, {'attr': {'onsubmit': "return confirm('Publier la publication ?');"}}) }}			
				
				{{ form_widget(formNews) }}	
				
				{% if editNews %}
					<button type="submit" class="btn btn-secondary w-100">Modifier</button>	
				{% else %}
					<button type="submit" class="btn btn-outline-secondary w-100">Publier</button>		
				{% endif %}

			{{ form_end(formNews) }}

		</div>

	</div>
{% endblock %}

{% block javascripts %}
{# <script src="/js/news.js"></script> #}
{% endblock %}

        
