{% extends 'base.html.twig' %}

{% block title %}LaBroq'News !
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<h1 class="text-center">Toutes Les News !</h1>


		<div class="news">
		
			{% if is_granted("ROLE_ADMIN") %}
			<a class="btn btn-outline-warning btn-sm" href="{{ path('add_news') }}">Ajouter une nouvelle ?</a>
			{% endif %}

			{% for new in news %}
				<div class="news index-news border">

					<div class="img-news">
						<img src="{{ new.illustration }}" alt="image d'illustration pour l'article nomé {{ new.title }}">
					</div>

					<div class="content">
						<h2>{{ new.title | slice(0,15) }}</h2>
						<h5>{{ new.content | slice(0,60) }}...</h5>
						<p class="text-muted ft-1">{{ new.createdAt | date('d/m/Y H:i') }}</p>
						<a class="float-right btn btn-green btn-sm" href="{{ path('show_news', {'id': new.id }) }}">En Voir Plus</a>
					</div>

				</div>
			{% else %}
				<h5><em>Aucunes News pour le moment ! </em></h5>
			{% endfor %}

		</div>

	</div>
{% endblock %}
