{% extends 'base.html.twig' %}

{% block title %}LaBroq'News - {{ news.title }}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<div class="news">

		{% if is_granted("ROLE_ADMIN") %}
			<a class="btn btn-sm btn-outline-warning" href="{{ path('edit_news', {'id': news.id}) }}">Editer la news</a>
		{% endif %}
		

			<div class="news border p-3 m-4">
				<h1 class="text-center">{{ news.title }}</h1>
				<p class="text-muted">{{ news.createdAt | date('d/m/Y H:i') }}</p>
				<div class="img-news">
					<img src="{{ news.illustration }}" alt="image d'illustration pour l'article nomé {{ news.title }}">
				</div>
				<h5 class="show-content">{{ news.content }}</h5>
			</div>

			<a class="btn btn-sm btn-outline-green" href="{{ path('news') }}">Retour</a>

		</div>


	</div>
{% endblock %}
