<h1>Activation de votre compte</h1>
<br>
<br>
<h4><em>Re</em> Bonjour <strong>{{ name }}!</strong></h4>
<br>
<p>Vous avez créé un compte sur le site laBroquinerie.com.</p>
<p>Pour terminer votre inscription, cliquez sur le lien suivant : </p>
<br>
<a href="{{ absolute_url(path('app_activation_account', {'token': token})) }}">Valider mon Compte</a> 
<br>
<br>
<p>
<em>Vous ne pouvez pas repondre a ce mail, merci de contacter le support via le site.</em> 
</p>