<h1>Oublie du mot de passe, laBroquinerie.com</h1>
<br>
<br>
<h4>lien de réinitialisation :</h4>
<br>
<p>Une demande de réinitialisation de mot de passe a été faite sur notre site.</p>
<p>Veuillez cliquer sur le lien suivant pour enregistrer votre nouveau mot de passe : </p>
<br>
<a href="{{ url }}">{{ url }}</a>
<br>
<br>
<p>
<em>Vous ne pouvez pas repondre a ce mail, merci de contacter le support via le site.</em> 
</p>